#Up{
    margin: 10px;
    }
.header{
    font-size:40px;
  
  
  }
  text{
    color:blue;
  }
  
  h1{
    font-family: calibri;
    font: size 60px; ;
    color:red;
    text-align: center;
    padding: 30px;
background-color:yellowgreen;
    
  }
  .container{
    height: 900px;
width: 400px;

  }
  button{
    margin: 2rem;
  }
  h3{
      color: darkgreen;
      font-size: 20px;
      font-family: monospace;
  }