#Up{
    margin: 10px;
    }
.header{
    font-size:40px;
  
  
  }
  text{
    color:blue;
  }
  
  h1{
    font: size 72px; ;
    color:red;
    text-align: center;
    background-image: url("https://image.freepik.com/free-photo/jasmine-flower-greenery_34266-955.jpg");

    
  }
  .container{
    height: 900px;
width: 400px;

  }
  button{
    margin: 2rem;
  }
  h3{
      color: darkgreen;
      font-size: 42px;
  }